/* Pokecall.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .spriteBox {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: #f5f5f5;
    border: 2px solid #dedede;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 14rem;
    min-width: 14rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
.input {
  min-height: 1rem;
  min-width: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
    background: hsla(200, 96%, 50%, 0.1);
  
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
}
  