  .new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  
  .btn {
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
    height: 25%;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
  }
  
  .btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
  }
  
  .btn.btn-danger:hover,
  .btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
  }
  
  .new-item-form input {
    outline: none;
    border: 1px solid hsl(200, 100%, 40%);
    background: hsl(200, 100%, 30%);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(200, 100%, 90%);
    height: 4rem;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .new-item-form input:focus {
    border: 1px solid hsl(200, 100%, 70%);
  }
  